<div class="dashboard-container">
    <h1>Bienvenue sur votre tableau de bord</h1>
    <section class="dashboard-section">
   
      <app-personal-info></app-personal-info>
    </section>

    <!-- <section class="dashboard-section">
      
      <app-reminders></app-reminders>
    </section>

    <section class="dashboard-section">
       
      <app-appointment-summary></app-appointment-summary>
    </section>

    <section class="dashboard-section">
 
      <app-lab-results></app-lab-results>
    </section>

       
  <section class="dashboard-section">
    
    <app-prescriptions></app-prescriptions>
  </section> -->

    
  </div>