<!-- <div class="document-list">
    <ul>
      <li *ngFor="let document of documents">
        <span>{{ document.title }}</span>
        <span>{{ document.date }}</span>
        <button (click)="viewDocument(document)">Voir</button>
        <button (click)="downloadDocument(document)">Télécharger</button>
      </li>
    </ul>
  </div> -->


  <div class="scanned-scripts-container">
    <h2>Scanned Scripts</h2>
    <table class="scanned-scripts-table">
      <thead>
        <tr>
          <th>Script ID</th>
          <th>Date</th>
          <th>File Name</th>
          <th>Description</th>
          <th>Doctor</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let script of scannedScripts">
          <td>{{ script.id }}</td>
          <td>{{ script.date }}</td>
          <td>
            <a [href]="script.fileUrl" target="_blank">{{ script.fileName }}</a>
          </td>
          <td>{{ script.description }}</td>
          <td>{{ script.doctor }}</td>
          <td>
            <button (click)="viewScript(script)">View</button>
            <button (click)="downloadScript(script)">Download</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>