<div class="medical-history-overview space-y-8">
    <div class="bg-card p-6 rounded-lg shadow-sm">
      <div class="flex justify-between items-center mb-4">
        <!-- <h2 class="text-xl font-semibold text-text-dark">Historique Médical</h2> -->
        <p class="text-sm text-text-light">Dernière mise à jour : 15 Décembre 2023 à 14:30</p>
      </div>
  
      <!-- Légende de Sévérité -->
      <app-severity-legend id="severity-legend"></app-severity-legend>
    </div>
  
    <!-- Conditions Médicales Actuelles -->
    <app-current-medical-conditions id="medical-conditions"></app-current-medical-conditions>
  
    <!-- Chirurgies Passées -->
    <app-surgeries id="surgeries"></app-surgeries>
  
    <!-- Maladies Chroniques -->
    <app-chronic-diseases id="chronic-diseases"></app-chronic-diseases>
  
    <!-- Médicaments Actuels -->
    <app-current-medications id="medications"></app-current-medications>
  
    <!-- Allergies -->
    <app-allergies id="allergies"></app-allergies>
  
  </div>